<!--<div class="nav">-->
    <!--<ul class="list">-->
        <!--<li class="active">房价指数</li>-->
        <!--<li>房价走势</li>-->
        <!--<li>二手房</li>-->
        <!--<li>租房</li>-->
        <!--<li>附近小区</li>-->
        <!--<li>涨幅榜</li>-->
        <!--<li>热门小区</li>-->
    <!--</ul>-->
<!--</div>-->