<!--搜索框-->
<div class="seabox">
    <div class="seacon">
        <input class="keywords" type="text" value="" autocomplete="off" placeholder="请输入区域或商圈名查询房价">
        <div class="btn-search">
            <img src="<%= root[env] %>images/icon_search.png" alt="">
        </div>
    </div>
    <div class="seaarea dn" id="allCityInfo"></div>
    <!--模糊匹配-->
    <div class="seamh" style="display:none;">
        <ul class="list"></ul>
    </div>
</div>